@import "bourbon";
@import "neat";

@import "reset/normalize";

@import "base/base";

@import "scanlines";

body {
  background-color: $base-background-color;
  background-image: linear-gradient(to top, $base-background-color 0%, $light-grass 100%);
}

main {
  @include grid-container;
  padding: 2em;
}

aside {
  @include grid-column(6);
}

article {
  @include grid-column(6);

  ol.pitches {
    min-height: 420px;
    max-height: 420px;
    overflow: scroll;
    padding-left: 1em;

    li.konami-code {
      background-color: $bright-grass;
    }
  }
}

section.about {
  @include grid-container;
  @include grid-column(12);
  margin-top: 1em;
}

footer {
  @include grid-container;
}
